<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ShoppingWithFriends" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shopping"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        <activity
            android:name=".RegisterScreen"
            android:label="Registration" >
        </activity>
        <activity
            android:name=".DisplayFriends"
            android:label="Friends" >
        </activity>
        <activity
            android:name=".RequestFriends"
            android:label="Request Friends" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home Page" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" >
        </activity>
        <activity
            android:name=".ListFriendRequests"
            android:label="Friend Requests" >
        </activity>
        <activity
            android:name=".ListSentRequests"
            android:label="Sent Requests" >
        </activity>
        <activity
            android:name=".FriendInfo"
            android:label="Friend Information" >
        </activity>
        <activity
            android:name="com.example.android.ShoppingWithFriends.RequestItem"
            android:label="Request Item">
        </activity>
    </application>

</manifest>
