<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ShoppingWithFriends" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shopping"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme" >
        <activity
            android:name=".RegisterScreen"
            android:label="Registration" >
        </activity>
        <activity
            android:name=".DisplayFriends"
            android:label="Friends" >
        </activity>
        <activity
            android:name=".RequestFriends"
            android:label="Request Friends" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home Page" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" >
        </activity>
        <activity
            android:name=".ListFriendRequests"
            android:label="Friend Requests" >
        </activity>
        <activity
            android:name=".ListSentRequests"
            android:label="Sent Requests" >
        </activity>
        <activity
            android:name=".FriendInfo"
            android:label="Friend Information" >
        </activity>
        <activity
            android:name=".RequestItem"
            android:label="Request Item" >
        </activity>
        <activity
            android:name=".GenerateReportActivity"
            android:label="Generate Report" >
        </activity>
        <activity
            android:name=".SalesReportActivity"
            android:label="Sales Report" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZzrnj8f5c-6QZRZsFKy37XmcwfBEM7W0" />

        <activity
            android:name=".MapsSalesReportItem"
            android:label="@string/title_activity_maps_sales_report_item" >
        </activity>
    </application>

</manifest>
